{
  "plugins": [
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/consent-o-matic.json", "label": "Consent-o-matic"},
        {"path": "dist/ublock-origin.txt", "label": "Ublock origin"}
      ]
    }],
  ]
}